@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@300&display=swap');

body {
    background-color: azure;
}

.header {
    position: relative;
    font-family: 'Kanit', sans-serif;
    color: blueviolet;
    text-align: center;
    animation: header;
    animation-duration: 3s;
}

@keyframes header {
    0% {top: -100px;}
    100% {top: 0;}
}

.ingridients {
    position: relative;
    width: 50%;
    margin: auto;
    animation: aniIng;
    animation-duration: 3s;
}

@keyframes aniIng {
    0% {left: -1500px;}
    85% {left: 50px;}
    100% {left: 0;}
}

.ingridients-table {
    border: 1px solid grey;
    margin: auto;
    width: 50%;
}

#ingredients-amount {
    font-size: large;
    color: rgb(91, 0, 176);
}

.ingridients-table tr {
    font-family: 'Kanit', sans-serif;
    font-size: medium;
    color: rgb(168, 81, 249);
}

img {
    opacity: 0;
    width: 400px;
    height: 200px;
    margin-top: 2rem;
    border-radius: 8px;
    animation: aniImg;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes aniImg {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.img {
    padding: 2rem;
    transition: transform .2s;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.instruction {
    position: relative;
    font-family: 'Kanit', sans-serif;
    font-size: medium;
    color: rgb(168, 81, 249);
    text-align: center;
    animation: aniIns;
    animation-duration: 3s;
}

@keyframes aniIns {
    0% {right: -1500px;}
    85% {right: 50px;}
    100% {right: 0;}
}

.header-instruction {
    font-family: 'Kanit', sans-serif;
    color: blueviolet;
    text-align: center;
    padding-top: 2rem;
}

.ol {
    display: inline-block;
    text-align: left;
}

.footer {
    font-family: 'Kanit', sans-serif;
    color: rgb(0, 0, 120);
    font-size: 1rem;
    text-align: center;
}